@tailwind base;
@tailwind components;
@tailwind utilities;



.button1 {

  margin: 0 !important;
  height: auto !important;
  background: transparent !important;
  padding: 0 !important;
  border: none;
  --border-right: 6px !important;
  --text-stroke-color: rgba(203, 188, 188, 0.6) !important;
  --animation-color: #ff0080 !important;
  --fs-size: 1.5em !important;
  letter-spacing: 3px !important;
  text-decoration: none !important;
  font-size: var(--fs-size) !important;
  font-family: "Arial" !important;
  position: relative !important;
  text-transform: uppercase !important;
  color: transparent !important;
  -webkit-text-stroke: 1px var(--text-stroke-color) !important;
}

.hover-text {

  --animation-color: #ff0080 !important;
  --border-right: 8px; 
  position: absolute !important;
  box-sizing: border-box !important; 
  content: attr(data-text) !important;
  color: var(--animation-color) !important;
  width: 0% !important;
  inset: 0 !important;
  border-right: var(--border-right) solid var(--animation-color) !important;
  overflow: hidden !important;
  transition: 0.5s !important;
  -webkit-text-stroke: 1px var(--animation-color) !important;
}

.button1:hover .hover-text {

  --animation-color: #ff0080!important;
  width: 100% !important;
  filter: drop-shadow(0 0 10px var(--animation-color)) !important;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #ff0080;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #ff0080;
  box-shadow: 0 0 30px 5px rgba(255, 0, 128, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
